:host {
  --card-border-radius:
    calc(
      var(--p-card-border-radius-root, 16px) / var(--elevation, 1)
    );

  display: flex;
  flex-flow: column nowrap;
  position: relative;
  background: var(--p-card-background-elevation1, #1111);
  border: var(--p-card-border);
  border-radius: var(--card-border-radius);
  box-shadow:
    var(
      --p-card-drop-shadow,
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12)
    );
}

:host([horizontal]) {
  flex-flow: row nowrap;
  justify-content: space-between;
}

:host([elevation="1"]) {
  --elevation: 1;
}

:host([elevation="2"]) {
  background: var(--p-card-background-elevation2, #2222);

  --elevation: 2;
}

:host([elevation="4"]) {
  --elevation: 4;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 0 0 1em 0;
  padding: 0;
}

hr.hasHeading {
  border-top: 1px solid var(--p-card-divider, #1111);
}

article {
  display: contents;
}

#content,
#heading {
  margin: 0 24px;
}

#content {
  flex: 1 0 auto;
}

#heading {
  margin: 16px 24px;
  display: flex;
  align-content: start;
  align-items: center;
  font-size: 1.1rem;
  background-color: var(--p-card-heading-background-color, initial);
  border-top-right-radius: var(--card-border-radius);
  border-top-left-radius: var(--card-border-radius);
}

:host([collapsible]) #heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 4px;
}

#heading ::slotted(h2),
#heading ::slotted(h3),
#heading ::slotted(h4),
#heading ::slotted(h5),
#heading ::slotted(h6) {
  font-size: 16px;
  margin: 0;
  margin-right: auto;
}

#actions ::slotted(a),
#heading ::slotted(a) {
  color: inherit;
}

[slot="collapse-toggle"] svg {
  fill: currentColor;
}

[slot="collapse-toggle"],
header ::slotted([slot="collapse-toggle"]) {
  color: inherit;
  border-radius: 100%;
  will-change: transform;
  width: 40px;
  height: 40px;
  margin: 4px;
}

#actions ::slotted(button),
[slot="collapse-toggle"],
header ::slotted([slot="collapse-toggle"]) {
  border: none;
  background: none;
  color: inherit;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
  will-change: background;
}

#actions ::slotted(button) {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius:
    calc(
      var(--p-card-border-radius-root, 16px) / (var(--elevation, 1) * 2)
    );
}

[slot="collapse-toggle"]:hover,
[slot="collapse-toggle"]:focus,
header ::slotted([slot="collapse-toggle"]:hover),
header ::slotted([slot="collapse-toggle"]:focus),
#actions ::slotted(button:hover),
#actions ::slotted(button:focus) {
  background: var(--p-card-background-elevation2, #2222);
}

[slot="collapse-toggle"]:active,
header ::slotted([slot="collapse-toggle"]:active),
#actions ::slotted(button:active) {
  background: var(--p-card-button-active, #1115);
}

:host([collapsed]) {
  height: min-content;
}

:host([collapsed]) [slot="collapse-toggle"],
:host([collapsed]) header ::slotted([slot="collapse-toggle"]) {
  transform: rotate(180deg);
}

#actions {
  justify-content: flex-end;
  display: flex;
  flex-flow: row;
  margin: 16px;
  gap: 16px;
}

#actions ::slotted(menu) {
  list-style-type: none;
  display: contents;
  margin: 0;
  padding: 0;
}

#actions ::slotted(:not(:last-child)) {
  margin-right: 10px;
}
